@font-face {
  font-family: "PP";
  src: url("/assets/fonts/PPNeueMontreal-Variable.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap; 
}

@font-face {
  font-family: "MonoLisa";
  src: url("/assets/fonts/MonoLisa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MonoLisa";
  src: url("/assets/fonts/MonoLisa-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}