---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Vikram Soni';
const description = 'Vikram Soni, Machine Learning Consultant based in Madrid, Spain.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">

    <!-- <div class="home-image"></div> -->

    <div class="home-copy">
      <p>Vikram Soni &mdash; Machine Learning Consultant</p>
      <h1>AI and data science enthusiast, passionate about machine learning, predictive modeling and artificial neural networks.</h1>
    </div>

    <!-- <div class="hero-image-container">

      <picture>
        <source srcset="/assets/home-illustration.webp" media="(min-width: 600px)">
        <img class="hero-image" alt="Illustration of person reading a book" src="/assets/home-illustration-small.webp" width="550" height="466">
      </picture>

      
    </div> -->
  </div>
</BaseLayout>

<!-- <script>
import SplitType from 'split-type';


let el = '.home-copy h1';
const SplitTypeInstance = new SplitType(el, { types: 'lines' });
wrapLines(SplitTypeInstance.lines, 'div', 'oh');

</script> -->

<style>

  .oh {
    overflow: hidden;
  }

  .home-container {
    align-items: center;
    display: flex; 
    flex: 1;
    justify-content: center;
    min-height: 100;
  }

  .home-copy {
    padding: 0 1em;
  }

  .home-copy h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0em;
    line-height: 1.3;
    max-width: 70%;
    /* font-variation-settings: "wght" 300; */
  }
  :root.theme-dark .home-copy h1 {
    background: radial-gradient(ellipse at center, #eff1ff 20%, #000 100%);
    background-size: 180% 180%;
    background-position: 60% center;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home-copy p {
    font-size: 1.3em;
  }

  /* :root.theme-dark .home-copy p {
    background: radial-gradient(ellipse at center, #eff1ff 20%, #000 100%);
    background-size: 200% 100%;
    background-position: right center;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
