<footer>
  <span class="social">
    <a href="https://www.linkedin.com/in/vikramsoni2/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/vikramsoni2"><i class="fab fa-github"></i></a>
      <a href="https://www.kaggle.com/vikramsoni2"><i class="fab fa-kaggle"></i></a>
      <a href="https://codepen.io/vikramsoni"><i class="fab fa-codepen"></i></a>
      <a href="https://www.instagram.com/vikram.soni2/"><i class="fab fa-instagram"></i></a>
  </span>
  <span class="copyright">
    &copy; {new Date().getFullYear()} vsoni.com
    </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1rem 3rem;
    text-align: center;
    width: 100%;
    display: flex;
  }
  .copyright {
    margin-left: auto;
  }
  .social {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
  }
  
</style>
