<style>

.st0, .st1, .st2{
    fill:transparent;
    stroke:var(--text-main);
    stroke-width:12;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}
.st0 {
	fill: var(--text-main);
}

.logo {
	display: flex;
	align-items: center;
	font-size: 0.5rem;
}

.logo svg {
	transform: scaleX(-1);
	transition: transform 0.5s linear;
	transform-origin: 50% 40%;
}

.logo:hover svg{
	transform: scaleX(1);
	
}

.logo a {
	text-decoration: none;
}
	
</style>

<div class="logo">
<a href="/">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="50" 
	 viewBox="0 0 562.66699 525.33301" xml:space="preserve">

<g id="Layer_2">
	<path class="st0" d="M264.10999,468.34998C79.39001,278.42999,66.87,88.52002,66.87,88.52002S135.21997,258.09003,255.21997,355.13
		c0,0,13.06006-15.60999,30.13-41.88c24.05005-37.01001,56.04004-95.19,70.69-160.78998
		C375.5,152.5,394.62,153.63,412.26001,156.34998C412.26001,156.34998,420.09003,250.26001,264.10999,468.34998z"/>
</g>
<g id="Layer_4">
	<path class="st1" d="M155.57001,128.70001c0,0,9.57001,18.26001,24.83002,44.01001
		c25.25,42.59998,66.08997,105.70996,104.94995,140.53998c-17.06995,26.27002-30.13,41.88-30.13,41.88
		C135.21997,258.09003,66.87,88.52002,66.87,88.52002c252.52002-72.52002,429.29999,11.44,429.29999,11.44
		C240.96002,60.26001,155.57001,128.70001,155.57001,128.70001z"/>
</g>
<g id="Layer_3">
	<path class="st2" d="M496.16998,99.96002c-68.26001,253.07996-232.06,368.38995-232.06,368.38995
		c155.98004-218.08997,148.15002-312,148.15002-312C394.62,153.63,375.5,152.5,356.03998,152.46002
		c-79.20996-0.17004-163.88995,17.69-175.63995,20.25c-15.26001-25.75-24.83002-44.01001-24.83002-44.01001
		S240.96002,60.26001,496.16998,99.96002z"/>
</g>
</svg>


</a>
</div>